body {
	background-color: #292929;
	margin: 0;
	border-top: 8px solid #00a91c;
	color: #ddd;
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 0.8em;
}

#div_header h1 a, #div_header h1 a:hover, #div_header h1 a:active, #div_header h1 a:visited {
	color: #fff;
	text-decoration: none;
}

a, a:hover, a:active, a:visited {
	color: #00a91c;
	text-decoration: none;
}

#div_header {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 10px solid #444;
	padding-top: 15px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

#div_header h1 {
	font-size: 1.75em;
	margin-top: 0;
	margin-bottom: 0;
}

#div_content {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

.div_article_header {
	width: 960px;
	border-bottom: 2px solid #444;
	overflow: hidden;
	padding-bottom: 3px;
	margin-bottom: 5px;
}

.div_article_header h1 {
	font-size: 1.25em;
	float: left;
	margin: 0;
}

.div_article_header p {
	font-size: 1.2em;
	float: right;
	margin: 0;
}

.div_article_content {
	clear: left;
}

.div_article_summary_wrapper {
	margin-bottom: 20px;
}
